body {
  text-align: center;
}

.vis-container {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3%;
  margin-bottom: 3%;
  width: 100%;
  padding: 50px;
  /* background-color: #f7f7f7;
  border: 1px solid steelblue; */
  border-width: 2px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
}

.side-charts {
  margin: 0 0.5%;
  /* border: 5px solid chartreuse; */
}

.section-container {
  /* margin: 2% 20%; */
  border: 5px solid grey;
}

h1,
h3 {
  color: #0b519b;
  text-align: center;
}

/* Jane */
.tooltip {
  display: none;
  font-size: 13px;
  padding: 3px;
  background-color: rgb(7, 8, 8);
  color: white;
  border-radius: 5px;
}
/* End of Jane */

/* Brishti */
.tooltip-pie {
  position: absolute;
  display: none;
  border-bottom: 1px dotted black;
  font-size: 13px;
  width: auto;
  height: auto;
  padding: 8px;
  background-color: rgb(40, 91, 133);
  color: white;
  border-radius: 12px;
  opacity: 0.7;
}

.tooltip-pie p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}
